@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway',sans-serif !important;
}



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.notification::after{
  content: attr(data-count);
  position: absolute;
  right: -30%;
  top: -40%;
  width: 20px;
  aspect-ratio: 1/1;
  font-weight: bold;
  border-radius: 9999px;
  background-color: rgb(255, 94, 0);
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
}

.iconContainer:hover > .iconItem::before{
  opacity: 1;
  display: block;
}


.iconItem::before{
  content: attr(data-icon-name);
  position: absolute;
  bottom: -220%;
  right: -120%;
  text-align: center;
  opacity: 0;
  display: none;
  transition: .3s;
  padding: 0.25rem 0.5rem;
  background-color: rgb(47, 57, 71);
  color: white;
  font-size: 0.8rem;
  border-radius: 5px;
}

.circle{
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle::after{
  content: '';
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #053F4D;
}

.circle::before{
  content: attr(data-progress);
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}




/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
